 <% if(details === null){ %>
                          <h1 style="text-align: center">No user</h1>
                    <% } else { %>
                      <h1 style="text-align: center">user name <%= details %></h1>
                      
                    <% } %>
